<div class="card">
    <p-table
        [value]="customers"
        dataKey="id"
        [showCurrentPageReport]="true"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [lazy]="true"
        [rows]="rows"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[10,25,50,100]"
        [scrollable]="true"
        scrollHeight="55vh"
        [style]="{height:'80vh'}"
        (onLazyLoad)="setMyPagination($event)">

        <ng-template pTemplate="caption">
            <div class="grid">
                <div class="col-12  md:col-8">
                    <h5>Usuarios</h5>
                </div>

                <div class="grid col-12  md:col-4" style="align-items: center;">
                    <div class="p-inputgroup col-8  md:col-9">
                        <input type="text" pInputText [(ngModel)]="userName" placeholder="Buscar (*)" pTooltip="Búsqueda global, según campos marcados (*)">
                        <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn" (click)="getFindByUsername()"></button>
                    </div>
                    <div class="col-4  md:col-3">
                        <button pButton label="Nuevo" style="height: 39px;" icon="pi pi-plus" iconPos="right" (click)="addNewUser()"></button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                 <th style="text-align: center;">
                        Email (*)
                </th>
                 <th style="text-align: center;">
                        Usuario (*)
                </th>
                 <th style="text-align: center;">
                        Nombre (*)
                </th>
                 <th style="text-align: center;">
                        Apellidos (*)
                </th>

                 <th style="text-align: center;">
                        Rol
                </th>

                <th style="text-align: center; width: 8rem;">
                        Estado
                </th>
                <th style="width:15rem">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td style="text-align: center;">
                    {{customer.emailAddress}}
                </td>
                <td style="text-align: center;">
                    {{customer.username}}
                </td>
                <td style="text-align: center;">
                    {{customer.name}}
                </td>
                <td style="text-align: center;">
                    {{customer.lastName}}
                </td>
                <td style="text-align: center;">
                    {{customer.roles}}
                </td>
                <td style="text-align: center; width: 8rem;">
                    <div *ngIf="customer.enabled" style="color: rgb(7, 224, 7);">
                        <i class="pi" [ngClass]="{'true-icon pi-check-circle': true}"></i>
                    </div>
                    <div *ngIf="!customer.enabled" style="color: red;">
                        <i class="pi" [ngClass]="{'true-icon pi-times-circle': true}"></i>
                    </div>
                </td>

                <td style="width: 15rem; text-align: center;">
                    <!-- <button type="button" pButton pTooltip="Editar" icon="pi pi-user-edit" (click)="editUser(customer)"></button> -->
                    <button pButton type="button" style="width: 28px; height: 28px;" pTooltip="Editar" icon="pi pi-user-edit"  (click)="editUser(customer)">
                    </button>
                    <button class="p-button-success" style="width: 28px; height: 28px; margin-left: 2px; margin-right: 2px;" pButton pTooltip="Deshabilitar usuario" icon="pi pi-lock-open" (click)="updateStatus(customer)" *ngIf="customer.enabled; else cerrado">
                    </button>
                    <ng-template #cerrado>
                        <button class="p-button-warning" style="width: 28px; height: 28px; margin-left: 2px; margin-right: 2px;" pTooltip="Habilitar usuario" pButton icon="pi pi-lock" (click)="updateStatus(customer)">
                        </button>
                    </ng-template>
                    <button style="width: 28px; height: 28px;" pButton pTooltip="Editar contraseña" icon="pi pi-pencil" (click)="showUpdatePass(customer)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No se encontraron usuarios</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog
    [(visible)]="displayConfigNewPass"
    [modal]="true"
    [closable]="false"
    [responsive]="true"
    [contentStyle]="{minHeight: '15vw', minWidth: '28vw'}"
>
    <ng-template pTemplate="header">
        <h4> Nueva Contraseña</h4>
    </ng-template>
    <div style="width: 28vw">
        <form [formGroup]="forma" (ngSubmit)="saveNewPassUser()" action="">
            <div class="p-fluid grid">

                <div class="p-field col-12  md:col-12">
                    <label>Nueva Contraseña</label>
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-lock"></i>
                        <input type="password" pInputText formControlName="forContraseña"  [(ngModel)]="passwordUser" id="passwordUser"/>
                        <label for="passwordUser">Ingrese contraseña</label>
                    </span>
                    <small style="color: red;" id="passwordUser" *ngIf="fieldErrors('forContraseña')" class="p-invalid">
                        {{
                            (fieldErrors('forContraseña').required==true)?'Ingrese contraseña':
                            (fieldErrors('forContraseña').hasCapitalCase==true)?'Ingrese al menos una letra mayúscula':
                            (fieldErrors('forContraseña').hasSmallCase==true)?'Ingrese al menos una letra minúscula':
                            (fieldErrors('forContraseña').hasNumber==true)?'Ingrese al menos un número':
                            (
                            (fieldErrors('forContraseña').minlength!=undefined)
                                ?(fieldErrors('forContraseña').minlength.actualLength<6)?'Ingrese 6 caracteres como mínimo' : ''
                                :''
                            )
                        }}
                    </small>
                </div>

                <div class="p-field col-12  md:col-12">
                    <label>Confirmar Contraseña</label>
                    <span class="p-float-label p-input-icon-left">
                        <i class="pi pi-lock"></i>
                        <input type="password" pInputText formControlName="newForContraseña"  [(ngModel)]="newPasswordUser" id="newPasswordUser"/>
                        <label for="newPasswordUser">Confirme contraseña</label>
                    </span>
                    <small style="color: red;" id="newPasswordUser" *ngIf="forma.errors?.sonDistintas" class="p-invalid">Las contraseñas deben cohincidir</small>
                </div>
            </div>
            <br>
            <p-footer style="float: right;">
                <button pButton style="width: 8rem;" type="submit" icon="pi pi-save" label="Guardar" [disabled]="!forma.valid"></button>
                <!-- <button style="width: 6rem;" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-text" (click)="hideDisplayConfigNewPass()" label="Cerrar"></button> -->
                <p-button label="Cerrar" icon="pi pi-times" [style]="{'margin-left': '.5em', 'width': '8rem'}"
                styleClass="p-button-outlined" (click)="hideDisplayConfigNewPass()"></p-button>
            </p-footer>
        </form>
    </div>
</p-dialog>

<app-modal-user></app-modal-user>
<p-toast key="m1" [style]="{width: '400px'}" ></p-toast>

<p-toast position="center" key="m2" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div style="text-align: center;">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Si" class="p-button-success"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
